In [7]:
#  !pip install pandas  # Run this to install pandas if imports below don't work.

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [4]:
___ = ''

In [5]:
pd.__version__

'1.2.4'

# Pandas DataFrames

## What is a DataFrame?

A DataFrame, simply put, is a **Table** of data.  It is a structure that contains multiple rows, each row containing the same labelled collection of data types.  For example, a DataFrame might look like this:

| (index) | Name | Age | Height | LikesIceCream |
| :---: | :--: | :--: | :--: | :--: |
| 0     | "Nick" | 22 | 3.4 | True |
| 1     | "Jenn" | 55 | 1.2 | True |
| 2     | "Joe"  | 25 | 2.2 | True |

Because each row contains the same data, DataFrames can also be thought of as a collection of same-length columns!

**Pandas** is a Python package that has a DataFrame class.  Using either the **DataFrame** class constructor or one of Pandas' many **read_()** functions, you can make your own DataFrame from a variety of sources.

## Making DataFrames Directly

#### From a List of Dicts

Dicts are named collections.  If you have many of the same dicts in a list, the DataFrame constructor can convert it to a Dataframe:

In [7]:
friends = [
    {'Name': "Nick", "Age": 31, "Height": 2.9},
    {'Name': "Jenn", "Age": 55, "Height": 1.2},
    {"Name": "Joe",  "Age": 25, "Height": 1.2},
]
pd.DataFrame(friends)

   Age  Height  Name
0   31     2.9  Nick
1   55     1.2  Jenn
2   25     1.2   Joe

#### From a Dict of Lists

In [8]:
df = pd.DataFrame({
    'Name': ['Nick', 'Jenn', 'Joe'], 
    'Age': [31, 55, 25], 
    'Height': [2.9, 1.2, 1.2],
})
df

   Name  Age  Height
0  Nick   31     2.9
1  Jenn   55     1.2
2   Joe   25     1.2

#### From a List of Lists

if you have a collection of same-length sequences, you essentially have a rectangular data structure already!  All that's needed is to add some column labels.

In [9]:
friends = [
    ['Nick', 31, 2.9],
    ['Jenn', 55, 1.2],
    ['Joe',  25, 1.2],
]
pd.DataFrame(friends, columns=["Name", "Age", "Height"])

   Name  Age  Height
0  Nick   31     2.9
1  Jenn   55     1.2
2   Joe   25     1.2

#### From an empty DataFrame
If you prefer, you can also add columns one at a time, starting with an empty DataFrame:

In [9]:
df = pd.DataFrame()
df['Name'] = ['Nick', 'Jenn', 'Joe']
df['Age'] = [31, 55, 25]
df['Height'] = [2.9, 1.2, 1.2]
df

   Name  Age  Height
0  Nick   31     2.9
1  Jenn   55     1.2
2   Joe   25     1.2

### Exercise: Making DataFrames from Scratch

Please recreate the table below as a Dataframe using one of the approaches detailed above:

| Year | Product | Cost |
| :--: | :----:  | :--: |
| 2015 | Apples  | 0.35 |
| 2016 | Apples  | 0.45 |
| 2015 | Bananas | 0.75 |
| 2016 | Bananas | 1.10 |