In [21]:
import statsmodels.api as sm

In [22]:
import pingouin as pg

In [23]:
#  !pip install pingouin

# Doing Statistics on Data with the Pingouin Package

**Pingouin** is a new statistics package in Python that uses pandas, seaborn, and scipy-stats!  It's quite user-friendly and its documentation is good; let's use it to analyze some data!

https://pingouin-stats.org/index.html

## Fertility Dataset

### Load the Data

In [14]:
df = sm.datasets.fertility.load(as_pandas=True)['data']
df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.820,4.655,4.471,4.271,4.059,3.842,...,1.786,1.769,1.754,1.739,1.726,1.713,1.701,1.690,NaN,NaN
1,Andorra,AND,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.240,1.180,1.250,1.190,1.220,NaN,NaN,NaN
2,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.671,7.671,7.671,7.671,7.671,7.671,...,7.136,6.930,6.702,6.456,6.196,5.928,5.659,5.395,NaN,NaN

### What significant differences are there between the fertility rates in 1990, 2000, and 2010?

### Parametric Tests

Follow the flowchart in the **ANOVA** section of the penguoin docs to test for differences in the mean fertility rate between these 3 years.  Even the deta is not homoscedastic, go ahead and do the anova and pairwise tests

https://pingouin-stats.org/guidelines.html#id5

### Nonparametric Tests

The data isn't normally distributred!  So let's do the same thing, but with the tests that don't need to make any assumptions about the distribution of our data.  Follow the flowchart in the **Non-Parametric** section of the penguoin docs to test for differences in the mean fertility rate between these 3 years.  

https://pingouin-stats.org/guidelines.html#id7

## Correlation Tests

Follow the flowchart in the **Non-Parametric** section of the penguoin docs to test for differences in the mean fertility rate between these 3 years.  

https://pingouin-stats.org/guidelines.html#id6

### Is there a significant correlation between time Germany's fertility rate and France's fertility rate?

### Is there a significant correlation between time Germany's fertility rate and India's fertility rate?

### Is there a significant correlation between time (Year) fertility rate?

Before running the correlation test, Get a new dataframe with just "Country Name", "Year", and "Fertility Rate" columns, and change the Year column to integers using the `DataFrame.melt()` method

*Hint*: A list of column names in a DataFrame is at `DataFrame.columns`
Get a new dataframe with just "Country Name", "Year", and "Fertility Rate" columns, and change the Year column to integers

### Is there a significant correlation between time (Year) and Germany's fertility rate?

## Further Reading

Nice article on Pingouin here: https://towardsdatascience.com/the-new-kid-on-the-statistics-in-python-block-pingouin-6b353a1db57c